<main style="height: 100vh; background-color: rgb(25, 4, 94)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="w-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title> Universidad de Amestris | Iniciar sesion </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="w-100">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput />
                  <mat-error>
                    {{emailControl?.errors | formFieldValidationErrors}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput type="password" />
                  <mat-error>
                    {{passwordControl?.errors | formFieldValidationErrors}}
                  </mat-error>
                </mat-form-field>
              <button type="submit" color="primary" mat-button>
                Iniciar sesion
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </main>