<div class="container-fluid">

</div>
<div class="main">
  <div class="h-100">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="isDrawerOpen" class="example-sidenav"
        >
        <mat-list>
            <a routerLink="welcome" mat-list-item>Inicio</a>
            <a routerLink="students" mat-list-item>Estudiantes</a>
            <a routerLink="courses" mat-list-item>Cursos</a>
            <a routerLink="inscriptions" mat-list-item>Inscripciones</a>
          </mat-list>
        </mat-sidenav>
    
        <mat-sidenav-content>
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="toolbar-container">
                        <app-toolbar (toggleDrawer)="toggleDrawer()"></app-toolbar>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="students-page-page-container d-flex flex-column w-100 h-100">
                    <router-outlet></router-outlet>
                  </div>
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>

  </div>
</div>
