<div class="min-vh-100">
    <form [formGroup]="inscriptionForm" action="">
        <mat-form-field>
          <mat-label>Curso</mat-label>
          <mat-select #courseSelect formControlName="course" [disabled]="loadingCourses">
              <mat-option *ngFor="let course of cursos; trackBy: trackByFn;"  [value]="course">
                {{ course.id }} - {{ course.nombre}}</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estudiante</mat-label>
          <mat-select #studentSelect formControlName="student" [disabled]="loadingStudents">
            <mat-option *ngFor="let student of estudiantes; trackBy: trackByFn;" [value]="student" >
              {{ student.nombres }} {{ student.apellidos }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="crearInscripcion();">Crear</button>
      </form>

      <br>
      <table mat-table [dataSource]="(observableInscripciones | async) ?? []" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre_estudiante">
            <th mat-header-cell *matHeaderCellDef> Nombre Estudiante </th>
            <td mat-cell *matCellDef="let element"> {{element.student.nombres | concatpipe: element.student.apellidos }} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre_curso">
            <th mat-header-cell *matHeaderCellDef> Nombre Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.course.id | concatpipe: element.course.nombre }} </td>
          </ng-container>
      
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">             
                  <button mat-icon-button color="warn" aria-label="Borrar" (click)="eliminarInscripcion(element.id);">
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

