<div class="min-vh-100">
    <form [formGroup]="inscriptionForm" action="">
        <mat-form-field>
          <mat-label>Curso</mat-label>
          <mat-select formControlName="curso">
            <mat-option [value]="curso" *ngFor="let curso of cursos"
              >{{ curso.codigo }} - {{ curso.nombre}}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estudiante</mat-label>
          <mat-select formControlName="estudiante">
            <mat-option [value]="estudiante" *ngFor="let estudiante of estudiantes"
              >{{ estudiante.nombres }} {{ estudiante.apellidos }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="crearInscripcion();">Crear</button>
      </form>

      <br>
      <table mat-table [dataSource]="(observableInscripciones | async) ?? []" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre_estudiante">
            <th mat-header-cell *matHeaderCellDef> Nombre Estudiante </th>
            <td mat-cell *matCellDef="let element"> {{element.estudiante.nombres | concatpipe: element.estudiante.apellidos }} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre_curso">
            <th mat-header-cell *matHeaderCellDef> Nombre Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.curso.codigo | concatpipe: element.curso.nombre }} </td>
          </ng-container>
      
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">             
                  <button mat-icon-button color="warn" aria-label="Borrar" (click)="eliminarInscripcion(element.id);">
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

